<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116864411449-v2v5craqcfq1ies5d3ic3nt5jp81c42p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116864411449-v2v5craqcfq1ies5d3ic3nt5jp81c42p</string>
	<key>API_KEY</key>
	<string>AIzaSyB9c5EBV9Eg0lYXoT9qLPlKJZs-rXybQGE</string>
	<key>GCM_SENDER_ID</key>
	<string>116864411449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ssak3.Taxi</string>
	<key>PROJECT_ID</key>
	<string>ssak3-297ee</string>
	<key>STORAGE_BUCKET</key>
	<string>ssak3-297ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116864411449:ios:3a2ab6b107470b7ed36ae8</string>
</dict>
</plist>